[submodule "rapidjson"]
	path = rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "thrust"]
	path = thrust
	url = https://github.com/thrust/thrust.git
[submodule "parameterParser"]
	path = parameterParser
	url = https://github.com/khbence/parameterParser.git
	branch = CXX14
